body {
  /*background-color: #000;*/
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('christmas.jpg'); /* Asegúrate de poner la ruta correcta */
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en la pantalla */
}
.flower {
  position: relative;
  /*height: 200px;*/
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;

}
.flower-image {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.zoom-animation {
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.5);
  }
}

.text-above,
.text-below {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
} 
.fasteracademy {
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  top: 380px;
}
.text-above {
  top: -85px;
}
.text-below {
  bottom: -85px;
}
.hola{
  width: 0%;
}
audio {
  text-align: center;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
}
 /*faster academy en todas las redes*/
